
.all{
    display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  bottom: 200px;
  
  
 
    
   
}
.burger{
    height: 400px;
}

.img{
    width: 300px;
    
}
.text{
    color: rgb(226, 153, 19);
    font-size: 30px;
}
.price{
    color: rgb(14, 13, 13);
    font-size: 30px;

}